.notAnOctothorpe {
    background-color: darkmagenta;
    color: greenyellow;
    text-align: center;
}
.alsoNotAnOctothorpe {
    background-color: lightgrey;
    padding: 1em;
}

body {
    background-image: url("record.png");
    margin: 0;
}